.limited {
  display: -webkit-box; /* Define um contêiner flexível */
  -webkit-box-orient: vertical; /* Orienta o texto verticalmente */
  -webkit-line-clamp: 3; /* Limita o texto a 3 linhas */
  overflow: hidden; /* Oculta o texto que excede o contêiner */
}
.area{
  line-height: calc(0.35em + var(--space-title-line-height));
  letter-spacing: -0.5px;
  color: var(--text-color-primary);
}