.titlearea::after{
  content: "";
  width: 100%;
  max-width: 80px;
  height: 1px;
  margin-top: 10px;
  background-color: var(--color-secondary);
  
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  flex: 1 1 100%;
}